.App {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 40;
  color: #010101;
}

ul {
  list-style:none ;
}

li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

.delete {
  color: red;
  cursor: pointer;
}

input:checked + span {
  text-decoration: line-through;
}